<!DOCTYPE html><html lang="en">
  <head><title> Main Page </title>
    <meta charset="utf-8">

  </head>
  <body>

  <p>Apply for a new product category:
  </p>
  <form action="/applyCat" method="POST">
  <input name="category">
  <input type="submit" name="applyCategory" value="Submit"><br><br>
  </form>
  <p>* Once you apply to be a seller, your application will be sent to administration where they
    will approve or disapprove your request. Please allow for up to two weeks for approval.
  </p>
      
</body></html>