<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <title></title>
</head>
<!--Change background color-->   
<body style="background-color:rgb(134, 153, 218)">
<div class="container-sm">
    <div class="card-body">
        <h2 class="card-title">Delete Patient Name</h2>

         <!--Setup input fields-->   
        <form action="/delete" method="POST">
            <div class="form-group">
                <label for="FirstName">First Name</label>
                <input type="text" name="FirstName" required class="form-control">
            </div>
            <div class="form-group">
                <label for="LastName">Last Name</label>
                <input type="text" name="LastName" required class="form-control">
            </div>
            <!--Delete Button-->   
            <button class="btn btn-primary" type="button" data-toggle="modal" data-target="#exampleModal">Delete</button>
            <!--Set up modal confirmation window-->  
            <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-hidden="true">
                <div class="modal-dialog" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="exampleModalLabel">Confirm Delete Patient</h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">
                      Are you sure you want to continue?
                    </div>
                    <div class="modal-footer">
                        <!--Bootstrap modal options:-->  
                      <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                      <button type="submit" type="button" class="btn btn-primary">Save changes</button>
                    </div>
                  </div>
                </div>
              </div>
               <!--Return to main page button-->  
            <a class="btn btn-success" href="/" role="button">Go Back</a>
        </form>
    </div>
      <!--Display all patient information-->  
    <div class="card-body">
        <h2 class="card-title">Patient List:</h2>
        <table class="table table-dark">
            <tr>
                <th scope="col"> PID</th>
                <th scope="col"> First Name</th>
                <th scope="col"> Last Name</th>
            </tr>
            <tbody>
            {% for pid, first_name, last_name in result %}
                <tr>
                    <td> {{ pid }} </td>
                    <td> {{ first_name }} </td>
                    <td> {{ last_name }} </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
</body>
</html>