<!DOCTYPE html><html lang="en">
  <head><title> Main Page </title>
    <meta charset="utf-8">

  </head>
  <body>
  <p><h3>Listed Products:</h3>


  </p>
  <div class="container-sm">
    <div class="card-body">
      <form action="/testtt" method="POST">
  Select Category:    <select name="category" style="background-color: rgb(206, 206, 236);">

    {% for i in categories %}
      <option value="{{ i }}" SELECTED>{{ i }}</option>
    {% endfor %}
  </select>
  <br>
  <br>

  Select Subcategory 1:   <select name="sub1" style="background-color: rgb(197, 197, 247);">
    <option value="none" SELECTED>(none)</option>
    {% for j in sub1 %}
      <option value="{{ j }}">{{ j }}</option>
    {% endfor %}
  </select>
  <br>
  <br>

  Select Subcategory 2:   <select name="sub2" style="background-color: rgb(174, 174, 245);">
    <option value="none" SELECTED>(none)</option>
    {% for k in sub2 %}
      <option value="{{ k }}">{{ k }}</option>
    {% endfor %}
  </select>
  <input type="submit"></button> 
</form>
  <br>
  <br>
  Returned Products (If empty, place change categories):
  <br>
  <br>
  
    {% for i in range(0,len) %}
          {% if products[i][7]  %}
         <h2>{{products[i][3]}} </h2> 
         <p> {{products[i][4]}} <br>
           {{products[i][5]}} 
           <p style="color:rgb(65, 211, 20);">(Price: {{products[i][6]}})</p>
           Category: {{ products[i][2]}} <br>
           Product ID: {{products[i][1]}} <br> 
           Quantity: {{ products[i][7] }}<br>
           From Seller: {{ products[i][0] }} (Rating: {{averageList[i]}}/5.0)</p>
          <form action="/placeOrder" method="POST">
          <input type="submit" name="product" value="Buy Product #{{ products[i][1] }}"><br><br>
          </form>
          <form action="/readReview" method="POST">
          <input type="submit" name="reviewButton" value="Read Reviews Product #{{ products[i][1] }}"><br><br>
          </form>
          ---------------------------------------------------------------------------------------------------------------------------<br>
          {% endif %}
          {% endfor %}
  
  
  <br>
  <br>
<br>
<br>

  
      
</body></html>