

<!DOCTYPE html><html lang="en">
  <head><title> Main Page </title>
    <meta charset="utf-8">

  </head>
  <row>
    <h2 class="card-title" style="color: rgb(12, 12, 128);">Welcome to Nittany Market</h2>
    <img src="static/paw_pic.jpeg" style="width:50px;height:50px;"" />
  </row>

  <h4 class="card-title">Login to your account below</h4>
  <body>
    <form action="/" method="POST">
          <label>Username:</label>
          <input name="Username" ></input>
          <br>
          <br>
          <label>Password:  </label>
          <input type="password" name="Password"></input> 
         
          <input type="submit"></button> 
          <br>
          <br>
          <label>Forgot Password?</label>
          <br>
          <br>
          <p style="color: red";>Username or Password Incorrect</p>
      </form>
      
</body></html>